$background-color: #272532;
$background-color-dark: #3F3C52;
$background-color-button-green: #DEBB00;
$background-picture-header-one: url('../img/m-h-night.jpg');
$background-gradient-left: #D4A700;
$background-gradient-right: #97004A;
$background-color-underline: #FF3300;
$font-family-one: 'Hind', sans-serif;
$font-color-dark: #fff;
$font-color-peak-dark: white;
$font-color-white: white;
$font-color-semi-white: #97B6D0;
