$background-color: white;
$background-color-dark: #272532;
$background-color-button-green: #5AAB00;
$background-color-underline: #2696CB;
$background-picture-header-one: url('../img/m-h-day.jpg');
$background-gradient-left: #3F7908;
$background-gradient-right: #4F00D0;
$font-family-one: 'Source Sans Pro', sans-serif;
$font-color-dark: #484846;
$font-color-peak-dark: #312F3F;
$font-color-white: #FEFEFE;
$font-color-semi-white: #97B6D0;
